div{

    background-image: url('https://image.freepik.com/free-vector/realistic-christmas-background-with-twigs_23-2149116859.jpg');
    width: 1000px;
    height: 1000px;
    background-repeat: no-repeat;
    

}