*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    font-size: 200px;

}

@media (min-width: 700px) {
    .main-title {
        color: lightgreen;
    }    

    h2{
        
    }
}